.wrapper
  = render 'shared/side_bar' 

  .header
    .header-menu
      .name-full
        %h2.name-letter 
          = @group.name 
        %ul.group-member
          Member：
          - @members.each do |member|
            = member.name
      = link_to 'edit', class: 'link_to_button' do
        Edit
    .group-name
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

