.success_message
  .success_message__text
    グループを作成しました

.wrapper
  .groups
    .groups__name
      .name-user
        hori
        = link_to "#" do
          = fa_icon 'cog'
        = link_to "#" do
          = fa_icon 'edit' 
    .groups__list
      = link_to "#" do
        = render partial: "group"
        = render partial: "group"
        = render partial: "group"
        = render partial: "group"
        = render partial: "group"
        = render partial: "group"
        = render partial: "group"

  .messages
    .messages__group-name
      .name-full
        %h2.name-letter グループ一覧
        %ul.group-member Member：kaede hori
      %button Edit
    .messages__chat
      .chat-text
        = render partial: "list"
        = render partial: "list"
        = render partial: "list"
        = render partial: "list"
        = render partial: "list"
        = render partial: "list"
        = render partial: "list"
        = render partial: "list"
    .messages__form
      .form-wrap
        .input-field
          %input#message.input-field__box{name: "message", placeholder: "type a message", type: "text"}
          %label.input-field__icon
            = fa_icon 'image'
            %input#input.icon__file{type: "file"}
        %button{name: "name", type: "submit", value: "value"} Send